# 기본 Unity 무시 규칙
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Assets 하위의 일반적인 무시 규칙
/Assets/*

# 하지만 다음 폴더들은 제외하고 추적
!/Assets/# 기본 Unity 무시 규칙
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Assets 하위의 일반적인 무시 규칙
/Assets/*

# 하지만 다음 폴더들은 제외하고 추적
!/Assets/CoreSource/
!/Assets/Project/_scripts/

# 폴더 내의 모든 내용도 포함하기 위해 하위 내용도 제외
!/Assets/Coresource/**
!/Assets/Project/_Scripts/**

# 기타 Unity 관련 무시 규칙
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb/
!/Assets/Project/_scripts/

# 폴더 내의 모든 내용도 포함하기 위해 하위 내용도 제외
!/Assets/Coresource/**
!/Assets/Project/_scripts/**

# 기타 Unity 관련 무시 규칙
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
